
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

header {
  padding:5px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
}

.hamburger {
  color:white;
  display:flex;
  justify-content:flex-end;
}

.menu {
  display:none; 
}

.navbar {
  margin-left:10px;
  margin-right:5px;
  background-color: gray;
}

main {
  padding: 5px;
  display:flex;
  flex-direction:column;
}

.product {
  border:solid;
  border-width:1px;
  border-color:gray; 
  padding:5px;
  text-align:center;
}

.social{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

ul {
  list-style: none;
}

/*
Tablets
768 px - 1024 px
*/

@media (min-width:768px) and (max-width:1024px) {
 
  header {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
  }
  
  .product {
  border:solid;
  border-width:1px;
  border-color:gray; 
  padding:5px;
  text-align:center;
}
  
}

/*
Desktop
1024 px
*/

@media (min-width:1025px) {
  
    header {
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:space-evenly;
  }

  .hamburger {
    display:none;
  }
  .menu {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    padding:10px;
    color:white;
}
  li {
    padding-left:20px;
    padding-right:20px;
  }
  
  main {
  padding: 5px;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}
  
    .product {
  border:solid;
  border-width:1px;
  border-color:gray;
  margin: 20px;
  padding:5px;
  text-align:center;
  flex-basis: 100%;

}
}
